.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}

.card__image {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 250px;
  padding: 10px 10px 0;
  background-color: #b8b8b8;
}

.card__image img {
  width: 150px;
  max-height: 100%;
  object-fit: contain;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 15px;
  background: #121212;
  color: var(--white);
}

.card__footer {
  justify-self: flex-end;
  padding-top: 20px;
  margin-top: auto;
}
