:root {
  --black: #121212;
  --white: #fafafa;
  --gray-text: #252525;
  --gray-light-text: #646464;
  --bg-bisque: #efe4c4;
  --bg-gray: #dedede;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1232px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -16px;
  padding: 0 16px;
}
